In [1]:
import mysql.connector
import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="GeoRunz",
    database="sakila"
)

# Example query
query = "SELECT title, rental_rate, length, rating FROM film LIMIT 10;"
df = pd.read_sql(query, conn)
print(df.head())

conn.close()

              title  rental_rate  length rating
0  ACADEMY DINOSAUR         0.99      86     PG
1    ACE GOLDFINGER         4.99      48      G
2  ADAPTATION HOLES         2.99      50  NC-17
3  AFFAIR PREJUDICE         2.99     117      G
4       AFRICAN EGG         2.99     130      G

C:\Users\profe\AppData\Local\Temp\ipykernel_25892\697628591.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)